header {
    background: rgb(6, 89, 156);
    color: #fff;
}

.main {
    background: rgb(218, 221, 217);

}

aside {
    background: rgba(218, 61, 61, 0.829);
    color: #fff;
}

.color1 {
    background: rgb(2, 153, 60);
    color: #fff;
}

footer {
    background: rgb(0, 0, 0);
    color: rgb(248, 232, 3);
}